.footer {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.footer a {
  color: var(--text-muted);
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.footer a:hover {
  text-decoration: underline;
}
